.form {
    display: flex;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
}

.formContainer label{
    margin: 15px 15px;
}

.formContainer input {
    margin: 0px 15px;
    padding: 8px
}

.formContainer button {
    margin-top: 20px;
    background-color: cadetblue;
    border: none;
    padding: 8px;
    color: white
}

.formContainer .darkModeContact {
    width: 50%;
    margin: auto;
    background-color: rgb(153, 152, 152);
}