.textAlignCenter{
    text-align: center;
}

.contactContainer {
    display: flex;
    justify-content: center;
}

.form {
    width: 40%;
}

.formContainer {
    background-color: transparent;
    display: flex;
    flex-direction: column;    
    padding: 39px;
}

.formContainer input {
    background-color: transparent;
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0 30px 0px;
    outline: none;
    padding: 0 10px
}

.sendBtn { 
    background-color: #82c0cc;
    border: none;
    border-radius: 10px;
    color: white;
    margin: auto;
    padding: 15px;
    width: 30%;
}

.contactImg {
    width: 400px;    
}
/*
input::placeholder{
    color: white
}
*/