.navbarContainer {
    border-bottom: 2px solid #e4e4e4;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 20px;

}

.navbarContainer a {
    outline: none;
    padding: 10px 20px;   
    text-decoration: none;
}

.navbarContainer a:focus {
    background-color: #82c0cc;
    transition: 0.5s ease;
    padding: 10x 20px;    
}

.navbarContainer button {
    background-color: transparent;
    border: none;
}

.themeImg {
    width: 30px;
}

